$primary-color: #e3b1c8;
$second-color:#fdcae1;
$third-color:#ffe5f0;
$font-stack: italic;


 


body{
    background-image: url(img/fondo\ pastel.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }


h1{ 
    background-color: $primary-color;
    text-align: center;
    color: $second-color;
    font-size: 50px;
    font-family: $font-stack;
    padding: 50px;
}
    nav{
        padding: 10px;
         ul{ 
            background-color: $primary-color;
            width: 100%;
            list-style-type: none;
            text-align: right;
             li{
                display: inline-flex;
                font-size: 20px;
                 a{
                text-decoration: none;
                color: $second-color;
                width:100%;
                padding: 10px;

               }

            }
        }
    }

nav li :hover{
    background-color: $primary-color;
    width:100%;
}  

.foto{
    width: 70%;
    height: 600px;
    border-radius: 25px;
    margin-left: 100px;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.titulo {
    text-align: left;
    padding: 45px;
    color: $second-color;
    font-size: 20px;
}
.parrafo{
    text-align: left;
    color: $second-color;
    padding: 30px;
    font-size: 20px;
}

.referencia {
    padding: 50px;
    margin: 15px;
    font-size: 40px;
    font-style: $font-stack;
}
.parrafo-cliente {
    padding: 30px;
    margin: 15px;
    font-size: 25px;

}

.consultas {
    padding: 50px;
    margin: 10px;
    font-size: 40px;
    font-style: italic;
}

.encontrarnos {
    padding: 50px;
    margin: 10px;
    font-size: 40px;
    font-style: italic;

}
.encontrarnos {
    padding: 50px;
    margin: 10px;
    font-size: 40px;
    font-style: italic;
}

.icono{
    text-align: end;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 150px;
}
.redes {
    text-align: center;
    background-color: $primary-color;
    color: $second-color;
    padding: 20px;
    font-size: 30px;
}
.precio {
    margin-left: 400px;
}

.turnos2{
    padding: 50px;
    margin: 10px;
    font-size: 40px;
    font-style: $font-stack;
}
.card-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.foto1{
    width: 70%;
    height: 600px;
    border-radius: 25px;
    margin-left: 100px;
}
.titulocurso{
    color: $primary-color;
    font-size: 20px;
}
.p-curso{
    color: $primary-color;
    font-size: 16px;
}
.text-curso{
    color: $primary-color;
    font-size: 16px;
}
.sobrenosotros {
    display: flex;
    margin: 60px;
    background-color: $primary-color; 
}

.nosotros {
    padding: 50px;
    margin: 10px;
    font-size: 40px;
    font-style: $font-stack;
    color: $primary-color;
    
}

.historia {
    text-align: center;
    color: $third-color;
    padding: 30px;
    font-size: 20px;
    align-self: center;
}
.ej2{
    width: 700px;
    height: 500px;
    border-radius: 20px;
    margin-left: 25px;
}

